
<h1>Seed Data</h1>

<p>These buttons will seed your data!  Push them to add data to your database!!</p>

<a asp-controller="Seed" asp-action="SeedIdentity" class="btn btn-info">Seed Users</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedBooks" class="btn btn-warning">Seed Books</a>
&nbsp;&nbsp;
<a asp-controller="Seed" asp-action="SeedGenres" class="btn btn-warning">Seed Genres</a>