@model Team12FinalProject.Models.Book
@{
    ViewData["Title"] = "CheckIn";
}
<h2>Check In Books</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CheckIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookID" />
            <div class="form-group">
                <p><span class="text-danger">@ViewBag.ErrorMessage</span></p>
                <label>Enter the number of copies arrived:</label>
                <input type="number" name="CopiesArrived" min="0" max="999" value="0" required class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}