@model IEnumerable<Team12FinalProject.Models.Genre>
@{
    ViewData["Title"] = "Index";
}
<h2>Genres</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreType)
                </td>

                <td>

                    <a asp-action="Edit" asp-route-id="@item.GenreID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Home" asp-action="Index">Home</a>
</div>
