@{
    ViewData["Title"] = "Totals";
}
<h2>Totals Report</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Total Profit
        </dt>
        <dd>
            @ViewBag.Profit
        </dd>
        <dt>
            Total Cost
        </dt>
        <dd>
            @ViewBag.Cost
        </dd>

        <dd>
            Total Revenue
        </dd>
        <dd>
            @ViewBag.Revenue
        </dd>

    </dl>
</div>