<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/5b47d771-aa2b-483e-a187-838e51920609/resourceGroups/FinalProjectTeam12/providers/Microsoft.Web/sites/FinalProjectTeam12</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://finalprojectteam12.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>finalprojectteam12.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FinalProjectTeam12</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FinalProjectTeam12</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>