@using Microsoft.AspNetCore.Identity
@model IEnumerable<Team12FinalProject.Models.RoleEditModel>
@using Team12FinalProject.Models
@{
    ViewBag.Title = "Roles";
}
<h2>Index</h2>
<div class="panel panel-primary">
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Users</th>
            <th></th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4" class="text-center">No roles</td>
            </tr>
        }
        else
        {
            foreach (RoleEditModel role in Model)
            {
                <tr>
                    <td>@role.Role.Name</td>
                    <td>
                        @if (role.Members == null || role.Members.Count() == 0)
                        {
                            @: No Users in role
                        }
                        else
                        {

                            <p>@string.Join(", ", role.Members.Select(x => x.Email))</p>
                        }
                    </td>
                    <td>
                        @if (role.Role.Name == "Employee" && User.IsInRole("Manager"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = role.Role.Id }, new { @class = "btn btn-primary" })
                        }
                        @if (role.Role.Name == "Customer")
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = role.Role.Id }, new { @class = "btn btn-primary" })
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>
