@model Team12FinalProject.Models.Book
@{
    ViewData["Title"] = "Edit";
}
<h2>Edit</h2>
<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookID" />
            <div class="form-group">
                <label asp-for="UniqueID" class="control-label"></label>
                @Html.DisplayFor(model => model.UniqueID, new { @class = "form-control" })
                <span asp-validation-for="UniqueID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishedDate" class="control-label"></label>
                <input asp-for="PublishedDate" class="form-control" />
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Genres</label>
                @Html.ListBox("SelectedGenres", (SelectList)ViewBag.AllGenres, new { @class = "form-control" })
                @Html.ActionLink("Add Genre", "Create", "Genres", new { id = ViewBag.id })
            </div>
            <div class="form-group">
                <label asp-for="AvgRating" class="control-label"></label>
                <input asp-for="AvgRating" class="form-control" />
                <span asp-validation-for="AvgRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Availablity" class="control-label"></label>
                <input asp-for="Availablity" class="form-control" />
                <span asp-validation-for="Availablity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CopiesOnHand" class="control-label"></label>
                <input asp-for="CopiesOnHand" class="form-control" />
                <span asp-validation-for="CopiesOnHand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reorder" class="control-label"></label>
                <input asp-for="Reorder" class="form-control" />
                <span asp-validation-for="Reorder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastOrdered" class="control-label"></label>
                <input asp-for="LastOrdered" class="form-control" />
                <span asp-validation-for="LastOrdered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Details", "Books", new { id = ViewBag.id })
</div>
